.m-footer {
  background-color: white;
  border-top: 3px solid var(--cor-verde-medio);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
}

.m-titulo-informacoes {
  font-family: var(--fonte-principal);
  color: var(--cor-verde-escuro);
  font-size: 1rem;
}

.m-titulo-informacoes::after {
  content: "";
  margin-top: 1rem;
  display: block;
  width: 30px;
  height: 1px;
  background-color: var(--cor-verde-escuro);
}

.m-texto-informacoes {
  color: var(--cor-verde-escuro);
  font-family: var(--fonte-auxiliar);
  font-size: 0.8rem;
}

.m-container-barras {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.m-barra-colorida {
  flex: 1;
  height: 4px;
}

.m-barra-colorida:nth-child(1) {
  background-color: var(--cor-verde-escuro);
}

.m-barra-colorida:nth-child(2) {
  background-color: var(--cor-verde-medio);
}

.m-barra-colorida:nth-child(3) {
  background-color: var(--cor-verde-claro);
}

.m-barra-colorida:nth-child(4) {
  background-color: #b3e0c0;
}

.m-texto-copy {
  color: var(--cor-verde-escuro);
  margin-bottom: 0;
  padding: 0.8rem;
  font-size: 0.8rem;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
